html {
    height: 100%;
    box-sizing: border-box;
    box-sizing: inherit;
}

body {
    height: 100%;
}

main {
    height: 100%;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 0px;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container {
    position: relative;
    top: 60px;
    margin: 40px;
    padding: 20px;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#titulo {
    position: relative;
    top: 40px;
    text-align: center;
}

.panel-group {
    margin: 40px;
    position: relative;
    top: 40px;
}

#collapsable-content {
    margin: 80px;
}

#scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

#scroll-up:hover {
    background-color: #555;
}

.dropdown-toggle {
    color: aliceblue;
}

.dropdown-element {
    color: black;
}

.dropdown-menu {
    position: absolute;
    border: 2px solid black;
    left: -35px;
}

href:hover {
    color: aliceblue;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    padding-top: 80px;
    background-color: #efefef;
    text-align: center;
}

#myCarousel .carousel-caption {
    background-color: rgba(147, 147, 147, 0.5);
    border-radius: 10px;
}