<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TintoMax - Tu tintorería de confianza</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/listado_precios.css" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">TintoMax</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-right top-nav">
          {{^user}}
          <a class="nav-link" href="./login.html">Iniciar Sesión</a>
          {{/user}}
          {{#user}}
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{username}} </a>
            <ul class="dropdown-menu">
                 <li> <a href="datos_usuario.html" class="dropdown-element"><i class="fa fa-fw fa-drivers-license-o dropdown-element"></i> Datos</a> </li>
                 <li class="divider"></li>
                 {{^admin}}
                 <li> <a href="servicios_cliente.html" class="dropdown-element"><i class="fa fa-fw fa-tasks dropdown-element"></i> Encargos</a> </li>
                 <li class="divider"></li>
                 {{/admin}}
                 {{#admin}}
                 <li> <a href="administracion.html" class="dropdown-element"><i class="fa fa-fw fa-tasks dropdown-element"></i> Administración</a> </li>
                 <li class="divider"></li>
                 {{/admin}}
                 <li> 
                    <form action="/logout" method="post">
						<input class="btn btn-danger btn-block" type="submit" value="Cerrar Sesión"></input>
						<input type="hidden" name="_csrf" value="{{token}}"/>
					</form>
				</li>
          	</ul>
          </li>
          {{/user}}
        </ul>
            </div>
        </nav>
    </header>

    <main id="page-top" role="main">


        <!-- Marketing messaging and featurettes
      ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <div id="tablaPrecios">
        {{#precios}}
       	    <div>
            	{{name}}
            	{{without_iva_cleaning}}
            	{{without_iva_ironing}}
            </div>
        {{/precios}}
        </div>
        <!-- FOOTER -->
        <footer class="container pie">
            <p class="float-right" id="volver"><a href="#page-top">Volver al inicio</a></p>
            <p>&copy; 2017-2018 TintoMax, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
